.App {
  text-align: center;
  overflow: hidden;
}

.App-header {
  background-color: #303133;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#textarea {
  width: 99%;
  height: 40vh;
}

.demo-editor {
  border: 2px solid rgb(8, 114, 171);
  padding: 0 1rem 0 1rem;
  margin-bottom: 1rem;
}
